@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #007bff;
  --secondary: #6c757d;
  --danger: #dc3545;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

button,
input[type="submit"] {
  padding: 12px 24px;
  border: none;
  border-radius: 0.25rem;
  color: #fff;
  cursor: pointer;
}

.btn.btn-primary {
  background-color: var(--primary);
}

.btn.btn-primary:not(:disabled):hover {
  --primary: #0056b3;
}

.btn.btn-secondary {
  background-color: var(--secondary);
}

.btn.btn-secondary:not(:disabled):hover {
  --secondary: #545b62;
}

.btn.btn-danger {
  background-color: var(--danger);
}

.btn.btn-danger:not(:disabled):hover {
  --danger: #c82333;
}

.btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;

  min-height: 100svh;
  flex-direction: column;
  justify-content: space-between;
}

header {
  height: 40svh;
  background: url(../public/background.jpg) no-repeat center center/cover;
}

.hero-img {
  flex-shrink: 0;
  object-fit: cover;
}

.subtitle {
  text-align: center;
  font-size: 2.5em;
  font-weight: bold;
  margin: 20px 0;
}

.subtitle > span {
  color: var(--primary);
}

.btn-group {
  flex-direction: column;
  gap: 0.5rem;
}

#btn-eliminar-todo {
  height: fit-content;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

footer {
  gap: 1rem;
  padding: 20px;
  border-top: 1px solid #e9ecef;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .btn-group {
    width: 100%;
  }
  .menu {
    display: none;
    flex-direction: column;
  }
}
