.tabla-container {
  flex-grow: 1;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  cursor: pointer;
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  text-transform: capitalize;
  background-color: #f2f2f2;
}

th #is-visible {
  width: fit-content;
  margin-left: 0.75rem;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f1f1f1;
}
